@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");

@font-face {
  font-family: "Geist Mono";
  src: url("./assets/fonts/GeistMono.ttf") format("truetype");
}

:root {
  --gray: rgb(202, 202, 202);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Geist Mono", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

svg {
    width: 24px;
}

textarea {
    margin-top: .5rem;
}

.sidebar {
  height: 100vh;
  position: fixed;
  width: 15%;
  border-right: solid 1px var(--gray);
  text-align: left;
}

.logo {
  border-bottom: solid 1px var(--gray);
  padding: 1rem;
}

.logo button {
  font-family: "Palette Mosaic", sans-serif;
  font-size: 2rem;
  background: transparent;
  border: none;
  outline: none;
}

.primary-nav {
  margin: 1rem 1rem 0.5rem;
}

.primary-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.65rem;
  width: 100%;
}

.primary-nav li {
  width: 100%;
}

.nav-button {
  font-size: .95rem;
  padding: 0.5rem 0.5rem;
  width: 100%;

  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 6px;
}

.nav-button[data-state="selected"] {
  background: #eee;
}

.nav-button:hover {
  background-color: #eee;
}

.container {
  position: relative;
  left: 15%;
  padding: 2rem 8rem 2rem 3rem;
  width: 85%;
}

.greetings h2,
.greetings p {
  font-family: "Geist Mono", monospace;
}

.greetings h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.greetings p {
  color: #414040;
}

.edit-title svg{
    width: 18px;
}

.task-input {
  /* background-color: #221414; */
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  -webkit-box-shadow: 2px 2px 16px -8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 16px -8px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 16px -8px rgba(0, 0, 0, 0.6);
  margin: 2rem 0 1rem;
}

.task-input input {
  outline: none;
  border: none;
  background-color: transparent;
  caret-color: rgb(0, 87, 185);
  font-size: 1.05rem;
  letter-spacing: 1.25px;
  width: 100%;
  padding: 0.3rem;
}

.task-input input::placeholder {
  font-weight: 700;
  font-size: 0.9rem;
}

.task-input svg {
  width: 24px;
}

.task-input button {
  padding: 0.3rem 1rem;
  border: solid 1px var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.extras {
  /* background-color: #f7f7f7; */
  /* -webkit-box-shadow: -2px 10px 16px -8px rgba(0,0,0,0.6);
-moz-box-shadow: -2px 10px 16px -8px rgba(0,0,0,0.6);
box-shadow: -2px 10px 16px -8px rgba(0,0,0,0.6); */
display: none;
  border-radius: 5px;
  padding: 1rem;
  margin-inline: 1rem;
  border: solid 1px var(--gray);
}

.extras textarea {
  border: var(--gray) solid 2px;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  resize: none;
}

.textarea::placeholder {
  font-weight: 700;
  font-size: 0.9rem;
}

.priority select {
  appearance: none;
  font-size: 0.9rem;
  padding: 0.675em 1em 0.675em 1em;
  background-color: #fff;
  border: 2px solid var(--gray);
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  outline-color: #999;
}

.date-priority {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-priority div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-priority input {
  width: fit-content;
  appearance: none;
  font-size: 0.9rem;
  padding: 0.675em 1em 0.675em 1em;
  background-color: #fff;
  border: 2px solid var(--gray);
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  outline-color: #999;
}

.extra-btn {
  background-color: #101010;
  color: #f7f7f7;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.tasks {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.task {
    width: 100%;
    display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid var(--gray);
border-radius: 5px;
padding: .5rem .6rem;
cursor: pointer;
}

.start:hover {
    opacity: 60%;
}

.start, .end {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="checkbox"] {
    cursor: pointer;
}

.task-desc {
    font-size: .8rem;
    color: #414040;
}

.task-done {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    border: 2px solid var(--gray);
}


.priority-high {
    background-color: #ff8888;
    color: #101010;
    font-size: .85rem;
    padding: .3rem .5rem;
    border-radius: 10px;
}

.priority-high::before {
    content: 'High';
}

.priority-medium {
    background-color: #889aff;
    color: #101010;
    font-size: .85rem;
    padding: .3rem .5rem;
    border-radius: 10px;
}

.priority-medium::before {
    content: 'Medium';
}

.priority-low {
    background-color: #88ffb0;
    color: #101010;
    font-size: .85rem;
    padding: .3rem .5rem;
    border-radius: 10px;
}

.priority-low::before {
    content: 'Low';
}

.no-task-error {
    color: #ff8888;
    font-size: .85rem;
    font-weight: bold;
    margin: .5rem 0;
    display: none;
}

.completed {
    opacity: 70%;
}


.completed h4,
.completed .task-desc{
    color: #838383;
    text-decoration: line-through;
}

.completed .task-done {
    background-color: #6d6d6d;
}

.day-tab {
    margin-top: 2rem;
}

.states {
    margin: 2rem 0 0 2rem;
}

.states h2 {
    font-size: 1.2rem;
    font-weight: 500;

}


.day-tab h4 {
    font-size: 1.25rem;
    border: 1px solid var(--gray);
    padding: .5rem 1rem;
    font-weight: 600;
    border-radius: 10px;
}